{% extends "base.html" %}

{%block title%}Index!{%endblock%}

{%block main_content%}
    <div class="bootstrap-iso">
        <form method=post enctype=multipart/form-data name="file_form">
            <div class="form-group">
                <span class="btn btn-default btn-file">
                    <input type=file name=file>
                </span>
                <input type=submit class="btn btn-primary" value=Upload>
            </div>
        </form>
    </div>


    <div class="progress">

      <div class="progress-track"></div>

      <div id="step1" class="progress-step">
        Step One
      </div>

      <div id="step2" class="progress-step">
        Step Two
      </div>

      <div id="step3" class="progress-step">
        Step Three
      </div>

      <div id="step4" class="progress-step">
        Complete
      </div>
    </div>

    <button onClick=next()>Next Step</button>

{%endblock%}

